.boton__administrador {
    width: fit-content;
}
.agregarProd {
    background: var(--negro-10);
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 16px;
}
.agregarProd__titulo {
    font-size: 16;
    font-weight: 700;
}
.agregarProd__campos {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.caja {
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid var(--negro-50);
    padding: 30px 12px 7px 12px;
}
.etiqueta {
    position: absolute;
    padding: 7px 12px;
    color: var(--negro-50);
}
.agregarProd__boton {
    width: calc(100vw - 32px);
    height: 51px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: var(--azul-100);
    color: var(--blanco-100);
    border: none;
}

/* Tablet */
@media screen and (min-width: 768px) {

}
/* Desktop */
@media screen and (min-width: 1024px) {
   
}
