:root {
    /* Colores */
    --azul-100: #2a7ae4;
    --azul-10: #eaf2fd;
    --negro-100: #464646;
    --negro-50: #a2a2a2;
    --negro-30: #c8c8c8;
    --negro-05: #f5f5f5;
    --blanco-100: #ffffff;

    /* Fuentes */
    --raleway: 'Raleway', sans-serif;
}