.contacto {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.contacto__titulo {
    font-size: 16;
    font-weight: 700;
}
.contacto__campos {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.caja {
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid var(--negro-50);
    padding: 30px 12px 7px 12px;
}
.etiqueta {
    position: absolute;
    padding: 7px 12px;
    color: var(--negro-50);
}
.contacto__boton {
    width: 138px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: var(--azul-100);
    color: var(--blanco-100);
    border: none;
}
