.destacados {
    height: 192px;
    background: url('../img/champi.png') no-repeat center / cover;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
}

.destacados__titulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: var(--blanco-100);
    margin: 0;
}
.destacados__descripcion {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--blanco-100);
}
.destacados__boton {
    width: 118px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background: var(--azul-100);
    color: var(--blanco-100);
    border: none;
}