.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
}
.footer__texto {
    font-size: 16px;
    font-weight: 500;
    color: var(--negro-50);
    text-align: center;
}
.footer__enlace {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--azul-100);
    text-align: center;
}