.login {
    background: var(--negro-10);
    padding: 97px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login__campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}
.login__titulo {
    text-align: center;
    font-size: 16;
    font-weight: 700;
}
.login__input {
    width: 100%;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid var(--negro-50);
    padding: 12px;
}
::placeholder {
    color: var(--negro-50);
    font-style: italic;
}
.login__boton {
    width: 109px;
    height: 40px;
    font-weight: 600;
    font-size: 14;
    background: var(--azul-100);
    color: var(--blanco-100);
    border: none;
}