.productos {
    padding: 0 16px 16px 16px;
    font-family: 'Raleway', sans-serif;
    gap: 16px;
}
.titulo-producto{
    font-size: 22;
    font-weight: 700;
}
.ver-todo{
    text-decoration: none;
    font-size: 14;
    font-weight: 700;
    color: var(--azul-100);
}
.productos__bloque{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 16px;
}
.productos__bloque:last-child{
    padding-bottom: 0;
}
.productos__encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(50vw - 33px);
}
.card_imagen {
    width: calc(50vw - 24px);
}
.card__titulo{
    font-size: 14;
    font-weight: 500;
    color: var(--negro-100);
    margin: 0;
    padding: 0;
}
.card__descripcion {
    font-size: 16;
    font-weight: 700;
    color: var(--negro-100);
    margin: 0;
    padding: 0;
}
.card__enlace {
    text-decoration: none;
    font-size: 14;
    font-weight: 700;
    color: var(--azul-100);
    margin: 0;
    padding: 0;
}
.oculto {
    display: none;
}